<div class="row">
    <div class="col-md-12">
        <a href="#/" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="input-group">
                    <input ng-required="required" type="text" class="form-control" placeholder="Add an item" ng-model="itemlabel" on-enter="addItem()">
                    <span class="input-group-btn">
        				<button class="btn btn-default" type="button" ng-click="addItem()" aria-label="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </span>
                </div>
            </li>
            <li ng-repeat="checklistItem in checklistItems"  class="list-group-item"  ng-class="isDone(checklistItem)">
                <span class="checklist-item-label" ng-click="itemSelected(checklistItem)" ng-show="!checklistItem.edit" >{{checklistItem.label}}</span>
                <div class="input-group" ng-show="checklistItem.edit">
                    <input ng-required="required" type="text" class="form-control" placeholder="Save Item" ng-model="checklistItem.label" on-enter="saveItem()">
                    <span class="input-group-btn">
        				<button class="btn btn-default" type="button" ng-click="saveItem()" aria-label="save"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    </span>
                </div>
                <span class="pull-right" style="overflow:hidden;"><input type="checkbox" ng-model="checklistItem.done"></span>
            </li>
            <!-- <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
    </div>
</div>
{{checklistItems}}