<div class="row">
    <div class="col-md-6">
        <h4>Expense</h4>
        <form class="">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <div class="">
                        <input required id="amount" name="amount" placeholder="Amount" type="number" class="form-control input-md" ng-model="expense.amount" step="any">
                        <!-- <span class="help-block">Expense Amount</span>   -->
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <div class="">
                        <label class="control-label" for="category">Category</label>
                        <select id="category" name="category" ng-options="category as category.label for category in categories track by category.id" ng-model="expense.category" class="form-control"></select>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="">
                        <p class="input-group">
                            <input required placeholder="Date" type="text" class="form-control input-md" datepicker-popup="{{format}}" ng-model="expense.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="">
                        <input id="memo" name="memo" type="text" placeholder="Memo" ng-model="expense.memo" class="form-control input-md">
                        <!-- <span class="help-block">Memo</span> -->
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group">
                    <div class="">
                        <button id="save" name="save" class="btn btn-success" ng-click="doSaveExpense($event)">Save</button>
                        <button ng-show="id" id="delete" name="delete" class="btn btn-danger" ng-click="doDeleteExpense($event)">Delete</button>
                        <button ng-show="id" id="copy" name="copy" class="btn btn-info" ng-click="doCopyExpense($event)">Copy</button>
                        <!-- <button id="cancel" name="cancel" class="btn btn-primary">Cancel</button> -->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- {{expense}} -->
<!-- 
<div class="col-md-4">
    <h4>Recent</h4>

    <ul class="list-group">
        <li class="list-group-item">
            <strong>2015/05/03</strong>
            <em>a very very long memo</em><span class="badge alert-danger">-25.00</span>

        </li>
        <li class="list-group-item">
            <strong>2015/05/03</strong>
            <em>a very very long memo</em><span class="badge alert-danger">-25.00</span>
        </li>
        <li class="list-group-item">
            <strong>2015/05/03</strong>
            <em>a very very long memo</em><span class="badge alert-danger">-25.00</span>

        </li>
        <li class="list-group-item">
            <strong>2015/05/03</strong>
            <em>a very very long memo</em><span class="badge alert-danger">-25.00</span>

        </li>
    </ul>
</div> -->
